.container-subfilter{
  display: flex;
  flex-wrap: wrap;
}
.subfilter-button{
  margin: 13px 18px;
}

.subfilter-button-selected{
  color: #FFFFFF !important;
  background: #000000 !important;
}
.service-container{
  margin-top: 30px;
}
.service-button:first-child{
  margin-right: 20px !important;
}
.service-button{
  padding: 17px 52px !important;
}

.select-color-disable{
  cursor: not-allowed;
}
