node_modules/
.idea/
tasks


package.json
yarn.lock

.gitpod.yml
.theia/

yarn-error.log
# dependencies

client/.pnp
client/.pnp.js

# testing
client/coverage

# productiont
client/build

# misc
client/.DS_Store
client/.env.local
client/.env.development.local
client/.env.test.local
client/.env.production.local

client/npm-debug.log*
yarn-debug.log*
client/yarn-error.log*
client/package-lock.json
server/package-lock.json
client/yarn.lock

server/package-lock.json
client/yarn.lock

# code style
client/.stylelintcache
client/.eslintcache

# vs code debug
.vscode
