.type-delivery{
  margin-left: 45px;
}
.MuiFormControl-root{
  width: 100% !important;
}
.position-deliveryMethod{
  display: flex;
  flex-direction: column;
}

.more-information{
  font-weight: bold;
  cursor: pointer;
}
.more-information:hover{
  text-decoration: underline;
}
