.filters{
display: flex;
  flex-direction: column;
  color:#FFFFFF;
}
.filters-container{
  background: #33333A;
  border-radius: 25%;
}
.filters-container > .MuiExpansionPanel-root.Mui-expanded{
  margin: 0 !important;
}
.filters-container > .MuiPaper-elevation1{
  box-shadow: none !important;
}
.filters-container > .MuiPaper-elevation1:before{
  display: none;
}
.filters-container > .MuiPaper-root{
  color: inherit !important;
  background: inherit !important;
}
.filters-container > .MuiIconButton-root{
  color: inherit !important;
}
