.container {
  width: 90%;
  margin: 0 auto;
}

.product-header {
  display: flex;
  justify-content: space-between;
  padding: 20px 15px 10px 15px;

  .header-info {
    font-weight: 400;

    font-size: 17px;

    h2 {
      margin-top: 10px;
      font-weight: 500;
      font-size: 25px;
    }
  }
}

.product-photo {
   img {
    width: 100%;
    height: 40%;
   }
}

.product-select {
  .sizes-info {
    display: flex;
    justify-content: space-between;
    margin: 70px 20px 20px 20px;

    .size-guide {
      color: rgb(141, 141,141);
      text-decoration: none;
    }
  }
}

.product-sizes {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 20px;

  .light-btn {
    width: 70px;
    margin: 10px;
    padding: 10px 0;
    color: black;
    text-align: center;
    background-color: #eee;
    border-radius: 3px;
  }
}

.product-buttons {

  text-align: center;

  button {
    width: 90%;
    margin-top: 10px;
    padding: 15px 0;
    font-size: 17px;
    text-transform: uppercase;
    border-radius: 17px;
  }

  .add-to-bag-btn {
    color: white;
    background-color: #000;
  }

  .favorite-btn {
    background-color: #eee;
  }

}

.product-discription {
  margin: 45px;
  font-size: 19px;
}