.footer {
  margin: -8px;
  padding: 35px 8% 0;
  color: #DEDEDE;
  font-size: 14px;
  background-color: #33333A;
  
  &-copyright {
    margin-top: 60px;
    margin-bottom: 40px;
    text-align: center;
  }
}
