.grid-container{
  display: grid;
  grid-gap:25px 30px;
  grid-template-areas: "currentNameCatalog currentNameCatalog params-filter params-filter"
                        "filter product-mini product-mini product-mini"
                        "paginate paginate paginate paginate";
  grid-template-rows: auto;
  grid-template-columns:  .8fr 1fr 1fr 1fr;
  justify-items: start;
  width: 100%;
}
.popover-filter-by{
  z-index: 10;

}
.product-mini{
  display: grid;
  grid-area: product-mini;
  grid-gap:30px 30px;
  grid-template-columns:  1fr 1fr 1fr;
  width: 100%;
}

.preloader{
  display: flex;
  grid-column: 1/3;
  justify-content: center;
}
.currentNameCatalog{
  grid-area: currentNameCatalog;
}

.paginate{
  grid-area:paginate;
  justify-self: center;
}
.params-filter{
  display: flex;
  grid-area: params-filter;
  justify-self: end;
}
.filter{
  grid-area: filter;
}

.popover-filter-by > .MuiPaper-root{
  color:#FFFFFF ;
  background-color: #33333A ;
  border-radius: 4% ;
}

.MuiBreadcrumbs-li>a{
  color:inherit;
  font-weight: bold;
}
