.item-img{
  width: 100%;
  height: 200px;
  object-fit: cover;
  cursor: pointer;
}
.inxOVb {
  right: 0 !important;
}
.jVzqqJ {
  left: 0 !important;
}
.jpVtxU {
  right: 46px !important;
}
.gQCiHJ {
  left: 46px !important;
}
