.title-login-singup{
  font-weight: bold;
  font-size: 49px;
  font-family: 'Varta Bold', sans-serif;
  line-height: 80px;

}
.tab span{
  font-weight: bold;
  font-family: 'Proxima Nova Cn Rg', sans-serif;
  font-style: normal;
}
.tabs {
  background: white;
}
.appbar header{
  box-shadow: none;
}
.password-eyes{
  cursor: pointer;
}
