.header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-evenly;
  margin: 0 10%;
  padding: 20px 0;

  .header-logo {
    font-size: 26px;
  }

  a, a:visited {
    color: inherit;
    text-decoration: none;
  }

  .search {
    padding: 8px 13px;
    background: #E6E6E6;
  }

  .search-icon {
    vertical-align: middle;
  }

  .search-input {
    width: 300px;
  }
}

