.title-check{
  margin-bottom: 12px;
  text-align: center;
}
.img-check-table{
  max-width: 170px;
  max-height: 100px;
  object-fit: cover;
}
.total-data-about-order{
  margin-top: 12px;
}

.title-table{
  margin: 11px 0 !important;
}

.color-checkbox{
  color: #33333A !important;
}
