.image-carousel-product {
  justify-self: center;
  width: 99%;
}
.iySjhs, .bElQES {
  position: static !important;
}
.iySjhs {
  width: fit-content !important;
}
.bElQES {
  display: grid !important;
  grid-template-areas: "gQCiHJ hlhgcG jpVtxU"
}
.gQCiHJ{
  grid-area: gQCiHJ;
}
.hlhgcG{
  grid-area: hlhgcG;
}
.jpVtxU{
  grid-area: jpVtxU;
}

